// _global.scss
@import "/scss/toolbox/_variables.scss";
@import "/scss/mixins/_responsive-breakpoints.scss";
@import "/scss/mixins/_keyframes.scss";
@import "/scss/toolbox/_responsive-check.scss";
@import "/scss/mixins/_aspect-ratio.scss";
@import "/scss/mixins/_color-manipulation.scss";
@import "/scss/mixins/_fluid-props.scss";
@import "/scss/mixins/_px-to-rem.scss";
@import "/scss/mixins/_rounding-float.scss";
@import "/scss/mixins/_flex-props.scss";
@import "/scss/mixins/_font-sizes.scss";
@import "/scss/mixins/_hover.scss";
@import "/scss/mixins/_layout.scss";
@import "/scss/mixins/_overlay.scss";
@import "/scss/mixins/_transitions.scss";
@import "/scss/mixins/_vertical-align.scss";
@import "/scss/mixins/_loading-spinner.scss";
@import "/scss/comps/_posts.scss";
@import "/scss/comps/_animations.scss";
@import "/scss/comps/_buttons.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
}

* { min-height:1px; }
#app {
  min-height: 100vh;
}
html,
body {
  background-color: $body-bg;
  color: $body-color;
  font-family: $font-family-base;
  scroll-padding-top: 4rem;
}

html body *:focus {
  outline: none;
}

//preload images
body::after{
  position:absolute; width:0; height:0; overflow:hidden; z-index:-1; // hide images
  content:
          // load images
          url('@/assets/img/black-denim.webp')
          url('@/assets/img/album.jpg')
          url('@/assets/img/spotify.png')
          url('@/assets/img/apple-music.png')
          url('@/assets/img/youtube-music.png')
          url('@/assets/img/amazon-music.png')
}

html body *:focus-visible {
  outline: $outline;
  border-radius: 4px;
}

html body *.no-outline:focus-visible {
  outline: none;
}

body {
  background-color: $white;
  border: 0;
  margin: 0;
  color: $body-color;

  // Prevent page scrolling when modal is open (https://css-tricks.com/prevent-page-scrolling-when-a-modal-is-open/)
  &.modal-open {
    overflow-y: hidden;
    padding-right: 15px; /* Avoid width reflow */
  }
}

:root {
  font-size: $font-size-root;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: auto;
  }
}

/* Header and paragraph */
h1, .t1{ @include font-prop(h1);}
h2, .t2{ @include font-prop(h2); }
h3, .t3{ @include font-prop(h3); }

p, .tp { @include font-prop(p); }
.text-alternate { @include font-prop(alternate); }
.tp2 { @include font-prop(p2); }
a, .ta {
  @include font-prop(a);
  color: $steel-blue;
}
//p a { @include  font-prop(p); @include font-prop(a);}
.tagline { @include  font-prop(tagline); }
.huge { @include  font-prop(huge); }
li {
  @include font-prop(li);
  button {
    span.blue {
      &:hover {
        color: $site-text;
      }
    }

  }
}
.logo-font {
  font-size: 32px;
  font-weight: 200;
  line-height: 40px;
}
.dropdown-item {
  font-weight: 200;
  font-size: 16px;
}
a, img {
  border:none;
  outline:none;
  max-width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

b, strong {
  font-weight: $font-weight-bold;
}

.blue {
  color: $site-blue;
}

.white {
  color: $white;
}

.intro-heading {
  font-size: 20px;
  line-height: 28px;
  margin: 2rem 0 0.5rem;
}

.content { @include contentWidth(div); }
.thinnest-content { @include contentWidth(smallest); }
.thin-content { @include contentWidth(small); }
.medium-content { @include contentWidth(medium); }
.large-content { @include contentWidth(large); }

.small-text, .small-text li a, .small-text a {
  font-size: 0.75rem;
}
.smaller-text, .smaller-text li a, .smaller-text a {
  font-size: 0.9rem;
}

sup {
  position: relative;
  font-size: 0.5em;
  line-height: 0;
  vertical-align: super;
}

h1 sup {
  font-size: 0.3em;
}

.shadow {
  box-shadow: 0 8px 16px -2px rgb(33 47 69 / 16%);
}

.normText {
  font-size: 18px;
  color: $tundora;
}

.ada-hide {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: -10000px;
  width: 1px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}