//
// FONT SIZING
//
// _font-sizes.scss

/* Headers and paragraph */
@mixin font-prop($point) {
  color: $site-text;
  font-family: $font-family-base;
  font-weight: 400;
  margin: 0;

  @if $point == h1 {
    font-family: $font-family-title;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    margin: 0 0 0.5rem;
  }

  @if $point == h2 {
    font-family: $font-family-title;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin: 2.5rem 0 0.5rem;

    //@include breakpoint(sm) {
    //  font-size: fluidProp(22px, 26px);
    //  line-height: fluidProp(32px, 36px);
    //}
  }

  @if $point == h3 {
    font-family: $font-family-title;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    margin: 2rem 0 0.5rem;
    color: $site-blue;
  }

  @if $point == p {
    font-size: 16px;
    font-weight: 200;
    line-height: 28px;
    margin-bottom: 1rem;
  }

  @if $point == alternate {
    font-family: $font-family-title;
  }

  @if $point == tagline {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 1rem;
  }

  @if $point == huge {
    font-family: $font-family-title;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    margin: 0 0 0.5rem;

    @include breakpoint(sm) {
      font-size: 56px;
      line-height: 64px;
    }
  }

  @if $point == a {
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }

  @if $point == li {
    font-size: 16px;
    font-weight: $font-weight-light;
    line-height: 26px;
    margin-bottom: 0.5rem;
    color: $site-text;
  }
}