//
// FONT SIZING
//
// _font-sizes.scss

/* Headers and paragraph */
@mixin font-prop($point) {
  color: $site-text;
  font-family: $font-family-base;
  font-weight: $font-weight-light;
  margin: 0;

  @if $point == h1 {
    font-size: 24px;
    font-weight: 200;
    line-height: 34px;
    margin: 0 0 0.5rem;

    @include breakpoint(sm) {
      font-size: fluidProp(24px, 28px);
      line-height: fluidProp(34px, 38px);
    }
  }

  @if $point == h2 {
    font-size: 22px;
    font-weight: 200;
    line-height: 32px;
    margin: 2.5rem 0 0.5rem;
    color: $site-blue;

    @include breakpoint(sm) {
      font-size: fluidProp(22px, 26px);
      line-height: fluidProp(32px, 36px);
    }
  }

  @if $point == h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin: 2rem 0 0.5rem;
    color: $site-blue;
  }

  @if $point == h4 {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 1rem;
  }

  @if $point == h5 {
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 1rem;
  }

  @if $point == p {
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 1rem;
  }

  @if $point == tagline {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 1rem;
  }

  @if $point == a {
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }

  @if $point == li {
    font-size: 16px;
    font-weight: $font-weight-light;
    line-height: 26px;
    margin-bottom: 0.5rem;
    color: $site-text;
  }
}