// layout sass

@mixin contentWidth($point) {

  @if $point == nav {
    width: $body-content-width;
    max-width: 100%;
  } @else if $point == smallest {
    width: $body-content-thinnest;
    max-width: 100%;
    margin: 0 auto;
  } @else if $point == small {
    width: $body-content-thin;
    max-width: 100%;
    margin: 0 auto;
  } @else if $point == medium {
    width: $body-content-medium;
    max-width: 100%;
    margin: 0 auto;
  } @else {
    width: $body-content-width;
    max-width: 100%;
    margin: 0 auto;
  }
}

.bg-transparent {
  background: transparent;
}

.bg-gray {
  background-color: $alabaster;
}

.bg-dark-gray {
  background-color: $darker-blue;
}

.bg-blue {
  background-color: $light-blue;
}

.bg-off-black {
  background-color: $off-black;
}

.bg-off-black-2 {
  background-color: $off-black-2;
}

.bg-black-denim {
  background-image: url('/assets/img/black-denim.webp'); /* or .jpg, .svg, etc. */
  background-repeat: repeat;
  background-size: auto; /* or use a specific size like 100px 100px */
  background-position: top left; /* optional, default */
  background-attachment: scroll; /* or fixed */
}

.bg-white-black-white-gradient {
  background: $off-black-2;
  @include breakpoint(sm) {
    background: linear-gradient(
                    to right,
                    #414a4c 0,
                    $off-black-2 100px,
                    $off-black-2 calc(100% - 100px),
                    #414a4c 100%
    );
  }
}

.bg-yellow {
  background-color: $yellow;
}

.bg-dark-blue {
  background-color: $site-blue;
}

.bg-dark-blue-md-white {
  background-color: $site-primary;
  @include breakpoint(md) {
    background-color: $white;
  }
}

.bg-linear-gradient-white-to-blue {
  background: linear-gradient(180deg, $white 0, $site-blue 100%);
}

.bg-linear-gradient-blue-to-white {
  background: linear-gradient(180deg, $site-blue 0, $white 100%);
}

section {
  &.section-padding {
    padding: 2rem 0;

    @include breakpoint(md) {
      padding: 3rem 0;
    }
  }
}
.container {
  max-width: 100%;
}
.hero {
  padding-top: 160px;
  padding-bottom: 80px;
  min-height: 920px;
}

.top-section {
  min-height: 100vh;
}
.text-balanced {
  text-wrap: balance;
}
 #mainContent {
   min-height: 50vh;
 }
.card-box {
  border-bottom: 0.5px solid $gray-chateau;
  padding: 0 0 2rem;
  margin-bottom: 2rem;

  @include breakpoint(md) {
    border-bottom: none;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  .image-card {
    text-align: center;
    transition: all 500ms;
    margin: 0.25rem;

    @include breakpoint(sm) {
      margin: 1rem;
    }

    &:hover {
      transform: scale(1.05);
      opacity: 0.9;
    }
    img {
      max-width: 120px;
      border: 1px solid transparent;
      border-radius: 8px;

      @include breakpoint(xs) {
        max-width: 160px;
      }
      @include breakpoint(sm) {
        max-width: 180px;
      }
      @include breakpoint(md) {
        max-width: 120px;
      }
      @include breakpoint(lg) {
        max-width: 180px;
      }
    }
  }
}

.text-white,
.text-white p,
.text-white h1,
.text-white h2,
.text-white h3,
.text-white a,
.text-white a:hover,
.text-white a:focus,
.text-white a:active,
.text-white p,
.text-white p,
.text-white ul > *
{
  color: $white;

  a {
    text-decoration: underline;
  }
}

.horizontal-line {
  display: block;
  border-bottom: 1px solid  $gray-chateau;
  width: 60%;
  margin: 1rem auto;
  padding-top: 1rem;
}

//accordion dropdown
.accordionGroup {
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
  }

  .accordion:hover {
    background-color: #ccc;
  }

  .panel {
    background-color: $white;
    overflow: hidden;
    height: auto;
    max-height: 0;
    -moz-transition: all 500ms;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;

    & > div {
      padding: 1rem;
    }
  }

  .panel.show{
    max-height: 500px;
  }
}

.logo {
  font-size: 1rem;
  color: $white;
  font-family: $font-family-title;
  font-weight: 400;
  padding: 0;
  text-decoration: none;

  &:active,
  &:visited,
  &:focus,
  &:hover
  {
    color: $white;
  }
}

.article-card {
  display: block;
}

#featuredArticles {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  @include breakpoint(sm) {
    grid-row-gap: 2rem;
  }

  img {
    width: 100%;
  }
}

nav {
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.nav-buffer {
  height: 40px;
  width: 100%;
  background: transparent;
}

.subscribe-banner {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.resources {
  margin-top: 2rem;
  background: $alabaster;
  border: 1px solid $site-blue;
  padding: 1rem;
  * {
    font-size: 0.8rem;
  }

  p {
   text-align: center;
    font-weight: bold;
  }

  ul {
    padding-left: 1rem;
    list-style: none;
  }

  li {
    font-style: italic;
  }
}

.quote {
  background: $alabaster;
  border-left: 4px solid $site-blue;
  padding: 1rem;
  font-style: italic;
}

#upsellEmailModal {
  position: fixed;
  z-index: 100000000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .upsellContent {
    max-width: 90%;
    max-height: 90%;
    width: 500px;
    background-color: $site-blue;
    padding: 3rem 2rem;
    text-align: center;
    position: relative;

    .btn-close {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }
}

.tile {
  padding: 1rem;
  transition: all 500ms;
  &:hover {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  }
}

.evergreen-articles {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-gap: 1rem;

  .evergreen-article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
    text-align: center;
    transition: all 500ms;

    img {
      object-fit: cover;
      width: 200px;
      height: 200px;
      margin-bottom: 1rem;
      transition: all 500ms;
    }

    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }

  @include breakpoint(sm) {
    flex-direction: row;
  }
}

.menu-links {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;

  .hamburger-menu {
    position: absolute;
    right: 0;
    background: $white;
    border: 1px solid $site-blue;
    list-style: none;
    padding: 0.5rem 1rem;
    color: $site-text;
    width: 290px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    transition: all 500ms;
  }
}

.hamburger-icon {
  display: inline-block;
  cursor: pointer;
  background: transparent;
  border: none;
  opacity: 0.8;
  transition: all 500ms;

  .bar1, .bar2, .bar3 {
    width: 20px;
    height: 2px;
    background-color: #fff;
    display: block;
  }

  &:hover {
    opacity: 1;
  }
}

#subscribeBanner {
  border-top: 1px solid $white;
  padding: 0.25rem 0;
  position: fixed;
  z-index: 1000;
  width: 100%;
  font-size: 0.8rem;
  text-align: center;

  button {
    font-size: 0.7rem;
    position: absolute;
    right: 0.5rem;
    margin-top: 1px;
  }
}

.button-bar .btn {
  background: transparent;
  color: #fff;
  border: 1px solid white;
  border-radius: 0.5rem;

  &:hover {
    text-decoration: none;
    background: #fff;
    color: #000;
  }
}


