// layout sass

@mixin contentWidth($point) {

  @if $point == nav {
    width: $body-content-width;
    max-width: 100%;
  } @else if $point == smallest {
    width: $body-content-thinnest;
    max-width: 90%;
    margin: 0 auto;
  } @else if $point == small {
    width: $body-content-thin;
    max-width: 90%;
    margin: 0 auto;
  } @else if $point == medium {
    width: $body-content-medium;
    max-width: 90%;
    margin: 0 auto;
  } @else {
    width: $body-content-width;
    max-width: 90%;
    margin: 0 auto;
  }
}

.bg-transparent {
  background: transparent;
}

.bg-gray {
  background-color: $alabaster;
}

.bg-blue {
  background-color: $light-blue;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-dark-blue {
  background-color: $site-blue;
}

.bg-dark-blue-md-white {
  background-color: $site-primary;
  @include breakpoint(md) {
    background-color: $white;
  }
}

.bg-linear-gradient-white-to-blue {
  background: linear-gradient(180deg, $white 0, $site-blue 100%);
}

.bg-linear-gradient-blue-to-white {
  background: linear-gradient(180deg, $site-blue 0, $white 100%);
}

section {
  &.section-padding {
    padding: 2rem 0;

    @include breakpoint(md) {
      padding: 3rem 0;
    }
  }
}
.container {
  max-width: 90%;
}
.hero {
  padding-top: 160px;
  padding-bottom: 80px;
  min-height: 920px;
}

.top-section {
  min-height: 100vh;
}

.card-box {
  border-bottom: 0.5px solid $gray-chateau;
  padding: 0 0 2rem;
  margin-bottom: 2rem;

  @include breakpoint(md) {
    border-bottom: none;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  .image-card {
    text-align: center;
    transition: all 500ms;
    margin: 0.25rem;

    @include breakpoint(sm) {
      margin: 1rem;
    }

    &:hover {
      transform: scale(1.05);
      opacity: 0.9;
    }
    img {
      max-width: 120px;
      border: 1px solid transparent;
      border-radius: 8px;

      @include breakpoint(xs) {
        max-width: 160px;
      }
      @include breakpoint(sm) {
        max-width: 180px;
      }
      @include breakpoint(md) {
        max-width: 120px;
      }
      @include breakpoint(lg) {
        max-width: 180px;
      }
    }
  }
}

.horizontal-line {
  display: block;
  border-bottom: 1px solid  $gray-chateau;
  width: 60%;
  margin: 1rem auto;
  padding-top: 1rem;
}

//accordion dropdown
.accordionGroup {
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
  }

  .accordion:hover {
    background-color: #ccc;
  }

  .panel {
    background-color: $white;
    overflow: hidden;
    height: auto;
    max-height: 0;
    -moz-transition: all 500ms;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;

    & > div {
      padding: 1rem;
    }
  }

  .panel.show{
    max-height: 500px;
  }
}

.logo {
  font-size: 1rem;
  color: $steel-blue;
  font-weight: $font-weight-light;
  padding: 0;

  @include breakpoint(sm) {
    font-size: 2rem;
    padding: 1rem 0;
  }

  &:hover,
  &:focus,
  &:active
  {
    color: $steel-blue;
  }
}
