.btn {
  background-color: $mhn-green;
  padding: 0.5rem 1rem;
  color: $white;
  transition: all 250ms;

  &:hover,
  &:focus {
    background-color: $mhn-green;
    color: $white;
    opacity: 0.8;
  }
}

#mc_embed_shell,
#subscriptionBanner{
  padding: 0.5rem 0;

  .email {
    padding: 0.5rem;
    max-width: 100%;
    border: 1px solid $gray-chateau;
    border-radius: 0.25rem;
  }
  .subscribe-btn {
    margin: 0.5rem 0;
    background: $mhn-green;
    color: $white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
  }
}