.btn {
  background-color: $site-blue;
  padding: 0.5rem 1rem;
  color: $white;
  transition: all 250ms;
  border-radius: 0;
  border: 3px solid $site-blue;
  font-size: 1rem;
  line-height: 1rem;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    background-color: $site-blue;
    color: $white;
  }

  &.btn-white {
    background-color: $white;
    color: $site-blue;
    border: 3px solid $white;

    &:hover,
    &:focus,
    &:active {
      background-color: $white;
      color: $site-blue;
    }
  }
}

input[type=text] {
  border: 0;
}

input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1rem;
  width: 100%;


  @include breakpoint(sm) {
    width: inherit;
  }
}